<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D97846C62C9B2BA500571F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A1DCE22C944EA800852047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9B75FE92C3706F10022F490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
